
body {
    background-color: #f8f9fa;
    margin: 0;
}

h1 {
    color: #6c757d;
    /*text-align: center;*/
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;

}
h4 {
    color: #6c757d;
    /*text-align: center;*/
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

form {

    /*text-align: center;*/
}
button{
    background-color: darkgray;
    color: white;
    
}
p {
    color: darkgray;
   /* text-align: center;*/
   font-family: 'Open Sans', sans-serif;
}
#img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.header {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 0;

}


.header li {
    display: inline;
    height: 80px;
    margin: 0 15px;

}
header ul{ 
    padding: 0;

}
.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.header .logo {
    width: 20%;
    
}
.header .navbar {
    width: 60%;
    text-align: center;

  
}
.header .actions {
    width: 20%;
    text-align: right;
    font-size: 14px;

}
.header .actions button{
    color: white;
    background-color: #67b54b;
    border-radius: 5px;
    padding: 12px 14px;
    margin-left: 10px;


} 

.main {
    margin-top: 150px;
    text-align: center;
}
.main .imagen-propiedades{
    width: 80%;
    max-width: 1000px;
}

